<h2 class="title" mat-dialog-title>Select collection</h2>
<h3 class="subtitle" mat-dialog-content>
  Select to which collection you want to add the movies.
</h3>
<mat-divider></mat-divider>

<mat-dialog-content>
  <mat-radio-group [(ngModel)]="selectedCollectionId">
    <mat-radio-button
      *ngFor="let collection of collections"
      [value]="collection.id"
      class="radio-option"
    >
      {{ collection.title }}
    </mat-radio-button>
  </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onConfirm()">Add</button>
</mat-dialog-actions>
