.collections-page {
  padding: 16px;

  .collections-content {
    margin: 8rem auto;
    width: 60vw;

    &__header {
      display: flex;
      justify-content: space-between;

      .add-collection-btn {
        height: 30px;
        background-color: var(--accent15) !important;
        color: var(--primary1) !important;
        padding: 8px;
      }

      h1 {
        font-weight: bold;
      }
    }

    .collections-grid {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));

      .collection-card {
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
